<div class="container">

  <!-- section title -->
  <h2 class="section-title wow fadeInUp">Clients & Reviews</h2>

  <div class="spacer-60"></div>

  <!-- testimonials wrapper -->

  <div class="row">
    <div class="col-md-3 col-6">
      <!-- client item -->
      <div class="client-item">
        <div class="inner">
          <img [src]="themeType === 'dark' ? 'assets/images/client-1-light.svg' : 'assets/images/client-1.svg'" alt="client-name" />
        </div>
      </div>
    </div>
    <div class="col-md-3 col-6">
      <!-- client item -->
      <div class="client-item">
        <div class="inner">
          <img [src]="themeType === 'dark' ? 'assets/images/client-2-light.svg' : 'assets/images/client-2.svg'" alt="client-name" />
        </div>
      </div>
    </div>
    <div class="col-md-3 col-6">
      <!-- client item -->
      <div class="client-item">
        <div class="inner">
          <img [src]="themeType === 'dark' ? 'assets/images/client-3-light.svg' : 'assets/images/client-3.svg'" alt="client-name" />
        </div>
      </div>
    </div>
    <div class="col-md-3 col-6">
      <!-- client item -->
      <div class="client-item">
        <div class="inner">
          <img [src]="themeType === 'dark' ? 'assets/images/client-4-light.svg' : 'assets/images/client-4.svg'" alt="client-name" />
        </div>
      </div>
    </div>
    <div class="col-md-3 col-6">
      <!-- client item -->
      <div class="client-item">
        <div class="inner">
          <img [src]="themeType === 'dark' ? 'assets/images/client-5-light.svg' : 'assets/images/client-5.svg'" alt="client-name" />
        </div>
      </div>
    </div>
    <div class="col-md-3 col-6">
      <!-- client item -->
      <div class="client-item">
        <div class="inner">
          <img [src]="themeType === 'dark' ? 'assets/images/client-6-light.svg' : 'assets/images/client-6.svg'" alt="client-name" />
        </div>
      </div>
    </div>
    <div class="col-md-3 col-6">
      <!-- client item -->
      <div class="client-item">
        <div class="inner">
          <img [src]="themeType === 'dark' ? 'assets/images/client-7-light.svg' : 'assets/images/client-7.svg'" alt="client-name" />
        </div>
      </div>
    </div>
    <div class="col-md-3 col-6">
      <!-- client item -->
      <div class="client-item">
        <div class="inner">
          <img [src]="themeType === 'dark' ? 'assets/images/client-8-light.svg' : 'assets/images/client-8.svg'" alt="client-name" />
        </div>
      </div>
    </div>
  </div>

</div>
